.vs
docker
docs
proc_main
proc_mongodb
srv_web_main/docker
srv_web_main/node_modules
srv_web_main/websites/public/libs/extern/bson.browser.umd.js
srv_web_main/websites/public/libs/extern/bson.browser.umd.js.map
srv_web_main/websites/public/sitemap.xml
srv_web_main/websites/etags.json
srv_web_main/env.list
srv_web_main/in-dockerenv.list
srv_web_main/package-lock.json
srv_web_main/**/*.gz
srv_web_main/**/*.br
srv_web_old
srv_web_old2
.dockerignore
in-env.list
LICENSE
package-update.js
todo.txt
