/.vs

/srv_web_main/node_modules
/srv_web_main/websites/public/libs/extern/bson.browser.umd.js
/srv_web_main/websites/public/libs/extern/bson.browser.umd.js.map
/srv_web_main/websites/public/sitemap.xml
/srv_web_main/websites/etags.json
/srv_web_main/dockerenv.list
/srv_web_main/env.list
/srv_web_main/package-lock.json
/srv_web_main/**/*.gz
/srv_web_main/**/*.br
