/* flex-based reset */

html, body {
  height: 100%;
}

:where(body, body *:not(script)) {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 0.5rem;
}

body {
  margin: 0;
  font-family: Arial;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

hr {
  width: 100%;
  margin: 0;
}

button {
  flex-direction: row;
  align-items: center;
}

.row {
  flex-direction: row;
}

.unshrinkable {
  flex-shrink: 0;
}

.growable {
  flex-grow: 1;
}

.left {
  align-items: start;
}

.wrap {
  word-wrap: break-word;
}

.no-overflow {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.undo-gap-horz {
  margin-left: -0.5rem;
}

.text {
  /* TODO fix */
  display: block;
  
  *:not(h1, h2, h3, h4, h5, h6) {
    display: inline;
  }
}

/* main styles */

html {
  font-size: 1.5rem;
}

body {
  padding: 0.6rem 0.6rem 0.8rem;
}

button {
  border-radius: 0.4rem;
  border: 0.05rem solid gray;
  padding: 0.3rem 0.3rem 0.3rem;
  font-size: inherit;
}

input[type = text], input[type = number] {
  border-radius: 0.4rem;
  border: 0.05rem solid gray;
  padding: 0.4rem 0.5rem 0.4rem;
  font-size: inherit;
}

.popup {
  z-index: 1;
  position: fixed;
  top: 0.4rem;
  left: 0.3rem;
  width: calc(100% - 0.6rem);
  height: calc(100% - 1.2rem);
  border: 1px solid gray;
  border-radius: 0.4rem;
  background-color: white;
  padding: 0.8rem;
}

.close-btn {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  aspect-ratio: 1;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.pane {
  gap: 0.7rem;
}

.variable-pane {
  flex-basis: 15rem;
}

.corner-banner {
  position: fixed;
  bottom: 0.2rem;
  right: 0.2rem;
  font-size: 0.4rem;
}
