<!doctype html>
<html lang = 'en'>
  <head>
    <meta charset = 'utf-8'>
    
    <title>coolguy284.com: Information for U+{code_point}</title>
    
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <meta name = 'description' content = 'Information for the Unicode character U+{code_point} {name_alias}.'>
    <meta name = 'keywords' content = 'unicode'>
    <meta name = 'author' content = 'coolguy284'>
    
    <link rel = 'canonical' href = 'https://coolguy284.com/unicode/U+{code_point}'>
    
    <meta name = 'og:title' content = 'coolguy284.com: Information for U+{code_point}'>
    <meta name = 'og:description' content = 'Information for the Unicode character U+{code_point} {name_alias}.'>
    <meta name = 'og:type' content = 'website'>
    <meta name = 'og:url' content = 'https://coolguy284.com/unicode/U+{code_point}'>
    
    <link rel = 'stylesheet' href = '/libs/extern/bootstrap.min.css'>
  </head>
  <body>
    <div class = 'container-fluid' style = 'width: auto; max-width: 800px;'>
      <div class = 'row mt-3'>
        <h2 class = 'mb-4'>Information for U+{code_point} {name_alias}</h2>
        <p><span style = 'font-size: 200px; border: 1px solid black;'>&#x{code_point};</span></p>
        <p>Category: {category}</p>
        <p>Technical Name: {name}</p>
        <p>Alias: {alias}</p>
      </div>
    </div>
  </body>
</html>
